.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

img {
  margin: 5px;
  max-height: 450px;
}

button, label{
  margin: 5px;
}

div#slider{
  background-color: #eee;
  width: 800px;
  margin: 0 auto;
}

div#mainPhotoContainer{
  min-height: 450px;
  vertical-align: bottom;
}

div#thumbnailWrapper img {
  border: 3px solid #999;
}

div#thumbnailWrapper img.active {
  border: 3px solid #333;
}

#instructions{
  padding: 10px;
  margin:0;
}